* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0D0E11;
  --asap: "Asap", sans-serif;
  --maven-pro: "Maven Pro", sans-serif;
  --inconsolata: "Inconsolata", monospace;
  --title-lg: 800 56px/120% var(--asap);
  --title-md: 800 24px/120% var(--asap);
  --title-sm: 800 16px/120% var(--asap);
  --subtitle: 500 20px/120% var(--inconsolata);
  --text: 400 16px/140% var(--maven-pro);
  --text-sm: 400 14px/140% var(--maven-pro);
}


a {
  text-decoration: none;
  color: inherit;
}