header {
  background-image: url(/assets/images/background-intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  div {
    justify-content: center;
    margin: auto;
  }
}

.profile-pic {
  width: 112px; /* Set a fixed width */
  aspect-ratio: 1/1;
  border-radius: 100%; /* This makes the square image into a circle */
  object-fit: cover; /* Ensures the image covers the container without stretching */
  object-position: center; /* Centers the image content within the circle */
  border: 2px solid var(--red);
  padding: 4px;
}
