.projects {
  background: var(--gray-500);
  #grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  article{
    img{
        border-radius: 8px;
    }
  }

  @media (max-width: 1024px) {
    #grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    #grid {
      grid-template-columns: 1fr;
    }
  }
}

.services {
  background: var(--gray-600);
}

.contact {
  background-image: url(/assets/images/background-contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 787px;
}
