.projects {
  background: var(--gray-500);
  padding-block: 72px 144px;
  place-items: center;
  max-width: 100%;
  margin-inline: auto;

  @media (max-width: 1280px) {
    #grid {
      grid-template-columns: repeat(2, 370px);
    }
  }

  @media (max-width: 820px) {
    #grid {
      grid-template-columns: 1fr;
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 50px;
    justify-content: center;
    margin-top: 56px;
  }
  article {
    img {
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .project-card {
    max-width: 370px;
    margin-inline: auto;
    padding: 12px;
    h3 {
      font: var(--title-sm);
      color: var(--gray-200);
      margin-block: 16px;
    }
    p {
      font: var(--text-sm);
      color: var(--gray-200);
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  .project-card:hover {
    padding: 11px;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
  }

  .projects-header {
    place-items: center;
    gap: 8px;

    span {
      color: var(--red);
      font: var(--subtitle);
    }
    h2 {
      color: var(--gray-100);
      font: var(--title-md);
    }
  }
}

.services {
  place-items: center;
  padding-inline: 120px;
  padding-block: 88px 120px;
  background: var(--gray-600);
  span {
    font: var(--subtitle);
    color: var(--red);
  }
  h2 {
    font: var(--title-md);
    color: var(--gray-100);
    margin-block: 16px 66px;
  }
  div {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
  }
  .service-card {
    padding: 20px;
    border: 2px solid var(--gray-400);
    border-radius: 8px;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font: var(--title-sm);
      color: var(--gray-100);
      margin-bottom: 8px;
    }
    p {
      font: var(--text-sm);
      color: var(--gray-200);
    }
  }
}

.contact {
  padding-block: 72px 144px;
  background-image: url(/assets/images/background-contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 48px;
  div {
    place-items: center;
    gap: 16px;
    span {
      color: var(--purple);
      font: var(--subtitle);
    }
    h2 {
      color: var(--gray-100);
      font: var(--title-md);
    }
    p {
      color: var(--gray-100);
      font: var(--text);
    }
  }
  ul {
    grid-template-rows: repeat(4, 80px);
    list-style: none;
    gap: 16px;
  }
  li {
    width: 100%;
    min-width: 400px;
    margin-inline: auto;
    background-color: var(--gray-400);
    border-radius: 8px;
    padding: 8px 20px;
    align-content: center;
    gap: 16px;
    a {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    span {
      color: var(--gray-200);
      font: var(--text);
      margin-right: auto;
    }
  }
  li:hover {
    border: 1px solid var(--blue);
    padding: 7px 19px;
  }
}
